%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.


{profiles, [
    {bench, [
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {d, 'BENCH', true}
        ]}
    ]}
]}.

{pre_hooks,
    [{"(linux|darwin|solaris)", compile, "make -C c_src"},
        {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
    [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
        {"(freebsd)", clean, "gmake -C c_src clean"}]}.