%% -*- erlang -*-
{sub_dirs, ["rel", "apps/riak_crdt"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [{riak_core, "1.0.*",
         {git, "git://github.com/basho/riak_core", "master"}},
        {bitcask, ".*", {git, "git://github.com/basho/bitcask", "master"}}
       ]}.
