%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{deps, [
        {riak_core, "1.2.*", {git, "git://github.com/basho/riak_core", "master"}},
        {bitcask, "1.5.*", {git, "git://github.com/basho/bitcask", "master"}}
       ]}.
