{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "riak_crdt", "1",
        [
         kernel,
         stdlib,
         sasl,
         riak_crdt
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_crdt"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, riak_crdt, [{incl_cond, include}]}
      ]}.

{target_dir, "riak_crdt"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/riak_crdt", "bin/riak_crdt"},
           {template, "files/riak_crdt-admin", "bin/riak_crdt-admin"}
           ]}.
